<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Конфигуратор</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<html lang="UTF-8">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Настройка параметров</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- load frameworks: vue + bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.2.1/vue-router.js"></script>
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    
  <link rel="stylesheet" href="https://unpkg.com/vue-nav-tabs/themes/vue-tabs.css">
  <script src="https://rawgit.com/cristijora/vue-tabs/master/dist/vue-tabs.js"></script>    

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
  <style>
  font-family: Inter;
  
  


.textarea:empty:not(:focus)::before {
  content: 'Лог сейчас пуст';
  position: absolute;
}
  </style>
     
</head>

<body>

	<div class="container">
		<header class="page-header">
			<img src="Vector.png" />
			Конфигуратор
		</header>
		<main id="app">
		  <router-view></router-view>
		</main>
	</div>

	<template id="setting-list">

		<vue-tabs @tab-change="TabChange">
			<v-tab title="Параметры">
				<div class ="whole-block">
				    <div class = "table-header">
						<div class = "block-title">
						Настройка параметров  
						</div>
						<div class="actions">

							<div v-if="IsEdit == false">
							  <button v-on:click="setEditMode" class="btn btn-default">
							  <span class="glyphicon  glyphicon-edit"></span>
							   Изменить
							 </button>
							</div>
							<div v-else>
								<button v-on:click="setViewMode" class="btn btn-primary">
								<span class="glyphicon glyphicon-ok-sign"></span>
								Сохранить
							   </button>
							</div>					
						</div>
					</div>

				    
				    <table class="table">
						<thead>
							<tr class = "toprow">
								<th>Параметр</th>
								<th>Описание</th>
								<th>Значение</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="setting in filteredSettings">
								<td>
									<router-link v-bind:to="{name: 'setting', params: {setting_name: setting.name}}">{{ setting.name
										}}</router-link>
								</td>
								<td>{{ setting.description }}</td>
								<td>
								
									<div v-if="IsEdit == false">
									  {{ setting.value }}
									</div>
									<div v-else>
										<div class="form-group">
										<input type="string" class="form-control" id="setting-value" v-model="setting.value" />
										</div>
									</div>														 
								</td>
						    </tr>
						</tbody>
				    </table>
				</div>
			</v-tab>

			<v-tab title="Логи">
				<div class = "whole-block-log">
					<div class = "table-header-log"> 
						<div class = "block-title-log">
						Лог работы 
						</div>
						<button v-on:click="readLogfile" class="btn btn-default">
						  <span class="glyphicon  glyphicon-edit"></span>
						   Обновить
						</button>
						
					</div>	
					<div class="comment-input">
						<div class="textarea" contenteditable="false">{{ logfile }} </div>
					</div> 
				</div>				
			</v-tab>

		</vue-tabs>
	</template>


  <template id="setting">
    <div>
      <h2>{{ setting.name }}</h2>
      <b>Описание: </b>
      <div>{{ setting.description }}</div>
      <b>value:</b>
      <div>{{ setting.value }}</div>
      <br />
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      <router-link to="/">Back to setting list</router-link>
    </div>
  </template>



</body>

</html>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>
