html{
 font-family: "Inter" !important;
 
}
body{
 font-family: "Inter" !important;
 font-weight: 500;
 color: #152536;
 background-color: #F8F9FA;
}

.logo {
  width: 75px;
  float: left;
  margin-right: 15px;
}

.form-group {
  max-width: 500px;
}

.actions {
  padding: 10px 0;
}

.glyphicon-euro {
  font-size: 12px;
}

.page-header {
	font-size: 32px;
}

.block-title {
	
}

.tab-content {
	margin-top: 20px;
	margin-bottom: 20px;
}

.table-header {
	display: flex;
	font-size:20px;
        align-items: center;
        gap:20px;
        justify-content: space-between;
        margin-bottom: 20px;
        
}

.actions {

	float: right;

}

.table {
	border:1px solid black;
        border-color: #CED4DA;
        margin-bottom: 10px;
}

.whole-block {
	border: 1px solid black;
        border-color: #CED4DA;
        padding: 20px;
        display: flex;
        background-color: #fff;
        
}
.width100 {
  width: 100%;
}
.toprow {
        background-color: #F8F9FD;
        font-size: 14px;
}

.comment-input {
	border: 1px solid black;
	border-color: #CED4DA;
}


.textarea {
  max-height: 60vh;
  overflow: auto;
  width: 100%;
  min-height: 500px;
  padding: 1rem;
  white-space: pre-wrap;
  line-height: 20px;
  font-size: 12px;
}

.active_tab {
 font-weight: 600;
}
.tab {
 font-weight: 500;
} 
.conf-title{
 color: #616680;
 font-weight: 700;
 font-size: 32px;
 vertical-align: middle;
}
.conf-button{
 font-weight: 600;
 font-size: 12px;
}
.conf-table{
 font-size: 12px;
}
.error-badge {
font-size: 24px;
background-color: #FA633A;
color: #fff;
padding: 20px;
margin-top: 20px;
/* border-radius: 32px;*/

}